.navbar {
  flex: 1;
  height: 33px;
  background-color: #2D9CDB;
}

.searchbar {
  flex: 1 0 39px;
  margin: 5px auto;
  border-radius: 3px;

  color: #BDBDBD;
  line-height: 39px;
  font-size: 18px;

  /*margin-left: 30px;*/
  margin: 0px;
  padding: 0px 10px;
/*
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch; */
}

input[type=text]{
  /*flex: 1 0 212px;*/

  width: 190px;
  height: 39px;
  margin: 5px auto;
  /*padding-left: 30px;*/

  background-color: #FAFAFA;
  appearance: none;
  -webkit-box-shadow: 0 1px 2px #777;
  -moz-box-shadow: 0 2px 1px #777;
  box-shadow: 0 2px 1px #777;
  border: none;


  line-height: 39px;
  font-size: 18px;

  border-radius: 3px;
  padding-left: 10px;
}

#searchContent{
  color: #BDBDBD;
  line-height: 39px;
  font-size: 18px;
  margin-left: 30px;
}

.container {
  /*background-color: red;*/
  flex: 1 1 224px;
  list-style: none;
  font-size: 18px;
  color: #333333;
  line-height: 1.5em;
}

.list {
  /*background-color: yellow;*/
  /* make this display flex */
  /*margin-left: 10px;*/
  margin: 5px 0px;

  padding-left: 10px;
  cursor: default;

  display: flex;
  flex-direction: column;
}

.item {
  /*background-color: blue;*/
  flex: 0 1 24px;
  list-style: none;
  font-size: 18px;
  color: #333333;
  line-height: 1.5em;
  list-style:none;
}
.item:hover {
    color: black;
    font-weight: bold;
    background-color: #e5e5e5;
}

.online {
  color: green !important;
}

.offline {
  color: red !important;
}

ul {


}
